{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de coordinación</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Menú Coordinador</h1>
    <p>Holaaa</p>
    {% if show_coordinacion %}
        {% for coordinacion_item in coordinacion %}
            <p>{{ coordinacion_item.title }}</p>
        {% endfor %}
    {% else %}
        <p>Undefined</p>
    {% endif %}
</body>
</html>