{% extends 'accounts/index.html' %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
    <div class="row-2">
        <div class="col-3"></div>
        <div class="col-6 my-5 pad-content">
            <div class="titulo-logout">
                Aviso de Privacidad
            </div>
            <p align="justify">De conformidad con lo dispuesto en los artículos 3 fracción II, 28 y 29; 105 fracción II del Reglamento de Transparencia, 
                Acceso a la Información y Protección de Datos Personales y demás disposiciones aplicables, le comunicamos que los Datos 
                Personales recabados serán protegidos, incorporados y tratados en el Sistema denominado “Seguimiento de Egresados LIS” 
                de la Facultad de Estadística e Informática ,de la UNIVERSIDAD VERACRUZANA.
    
                Así mismo, se le informa que la finalidad de recabarlos es para:</p>
                <ul>
                    <li>Realizar los estudios de seguimiento de egresados de la Licenciatura en Ingeniería de Software.</li>
                    <li>Realizar los estudios de seguimiento de egresados de la Licenciatura en Ingeniería de Software.</li>
                    <li>Mantener el contacto con los egresados de la Licenciatura en Ingeniería de Software.</li>
                </ul>
                <p align="justify">Así también, se le informa que sus datos son resguardados con las medidas de seguridad de NIVEL BÁSICO y no podrán ser 
                    difundidos sin su consentimiento expreso, salvo las excepciones previstas en la Ley y en el Reglamento. El responsable 
                    del Sistema de Datos Personales es MTRO. CARLOS ALBERTO OCHOA RIVERA Director de la institución, quien está obligado o 
                    facultado para responder a las preguntas que le sean planteadas por el titular de los datos personales. La Coordinación 
                    Universitaria de Transparencia, Acceso a la Información y Protección de Datos Personales de la UNIVERSIDAD VERACRUZANA 
                    con domicilio en la calle Veracruz número 46 Interior 5 Fraccionamiento Pomona de la ciudad de Xalapa, Veracruz, Código 
                    Postal 91040, teléfono 8-41-59-20, y correo electrónico transparencia@uv.mx.; es la única instancia facultada para dar 
                    trámite a las solicitudes de: Acceso, Rectificación, Cancelación y Oposición de Datos Personales; así como la revocación 
                    del consentimiento; que desee formular el titular o su representante legal previa acreditación de su personalidad.También 
                    se le informa en términos de lo que establece el artículo 31 fracción IV de la Ley, que dispone de un plazo de 15 días 
                    hábiles a partir de esta fecha para manifestar su negativa al tratamiento, con el apercibimiento de que de no pronunciarse 
                    al respecto se entenderá que lo consiente.
                     
                    El interesado podrá dirigirse al Instituto Veracruzano de Acceso a la Información (http://www.ivai.org.mx), donde recibirá 
                    asesoría sobre los derechos que regula la Ley 316 de Protección de Datos Personales para el Estado de Veracruz al teléfono 
                    (228) 8420270 ext. 406; correo electrónico:contacto@verivai.org.mx o contactodatospersonales@verivai.org.mx</p>
                    <div class="subtitulo-principal">
                        <a href="{% url 'accounts:login'%}">Regresar</a>
                    </div>
        </div>
    </div>

{% endblock %}