{% extends 'sse_app/index.html' %}

{% load bootstrap4 %}

{% block content %}
    <div class="titulo-pag">
        Empleo durante estudios
    </div>
    <br>
    <div style="text-align: justify;">
        <h6>Con el fin de conocer su trayectoria ocupacional, le solicitamos nos proporcione la siguiente información atendiendo a tres criterios:</h6>
            <ol>
                <li>Que la información sea sobre el empleo que tuvo durante el último año de estudios de la licenciatura.</li>
                <li>Que haya sido un trabajo con una duración mínima de tres meses.</li>
                <li>Si tuvo dos o más trabajos simultáneamente, que la información sea sobre el trabajo principal, entendiendo por principal
                    aquél al cual le dedicó la mayor parte de su tiempo (No se consideran prácticas de servicio social, aunque hayan sido remuneradas).</li>
            </ol>
        <h6>En caso de no cumplir con las condiciones mencionadas, favor responder "No" a la primera pregunta y pase a la siguiente sección.</h6>
    </div>
    <form method="POST" action="{% url 'sse_app:empleo_durante_estudios'%}">
        <div class="form-group row">
            <div class="col">
                {% csrf_token %}
                {% bootstrap_form form %}
            
                {% buttons %}
                <button class="btn btn-outline-info" type="submit", name="guardar">Guardar</button>
                {% endbuttons %}
            </div>
        
    </form>
{% endblock %}